<div class="add-project-button">
  <button nz-button nzType="primary" (click)="navigateToAddProject()">
    <span nz-icon nzType="plus" nzTheme="outline"></span> {{ 'PROJECTS.ADD_PROJECT' | translate }}
  </button>
</div>
<nz-table #basicTable [nzData]="projects" [nzScroll]="{ x: '1600px', y: '550px' }" [nzBordered]="true" [nzPageSize]="5"
  [nzShowPagination]="true">
  <thead>
    <tr>
      <th nzWidth="200px">{{ 'PROJECTS.PROJECT_NAME' | translate }}</th>
      <th nzWidth="400px">{{ 'PROJECTS.PROJECT_DESCRIPTION' | translate }}</th>
      <th nzWidth="200px">{{ 'PROJECTS.FIELD' | translate }}</th>
      <th nzWidth="120px">{{ 'PROJECTS.STATUS' | translate }}</th>
      <th nzWidth="160px">{{ 'PROJECTS.START_DATE' | translate }}</th>
      <th nzWidth="160px">{{ 'PROJECTS.END_DATE' | translate }}</th>
      <th nzWidth="300px">{{ 'PROJECTS.IMAGE' | translate }}</th>
      <th nzWidth="250px">{{ 'PROJECTS.ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of basicTable.data">
      <td>{{ project.projectName }}</td>
      <td>{{ project.projectDescription }}</td>
      <td>{{ project.field }}</td>
      <td>{{ project.projectStatus }}</td>
      <td>{{ project.projectStartDate | date: 'short' }}</td>
      <td>{{ project.projectEndDate | date: 'short' }}</td>
      <td>
        <div *ngIf="imageUrls[project.projectId]; else noImage">
          <img *ngFor="let imageUrl of imageUrls[project.projectId]" [src]="imageUrl" loading="lazy"
            style="max-width: 100px; max-height: 100px; margin: 5px;" />
        </div>
        <ng-template #noImage>
          <img src="assets/default-image.png" alt="No Image Available" loading="lazy" />
        </ng-template>
      </td>
      <td>
        <button nz-button nzType="primary" (click)="downloadFile(project.projectId)"><span nz-icon nzType="download"
            nzTheme="outline"></span>{{ 'PROJECTS.DOWNLOAD' | translate }}</button>
        <button nz-button nzType="primary" (click)="updateProject(project.projectId)"><span nz-icon nzType="edit"
            nzTheme="outline"></span>{{ 'PROJECTS.UPDATE' | translate }}</button>
        <button nz-button nzType="primary" nzDanger (click)="deleteProject(project.projectId)"><span nz-icon
            nzType="delete" nzTheme="outline"></span>{{ 'PROJECTS.DELETE' | translate }}</button>
            
        <button *ngIf="!joinedProjects[project.projectId]" nz-button nzType="primary" (click)="joinProject(project.projectId)">
          {{ 'PROJECTS.JOIN' | translate }}
        </button>
        <button nz-button nzType="primary" (click)="navigateToMeasurementData(project.projectId)">
          <span nz-icon nzType="line-chart" nzTheme="outline"></span>{{ 'PROJECTS.MEASUREMENT_DATA' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
