
<nz-layout>
    <div class="container">
        <div class="additional-info" (mouseenter)="isPopoverVisible = true" (mouseleave)="isPopoverVisible = false">
            <nz-avatar [nzText]="username ? username.charAt(0).toUpperCase() : 'U'" nzShape="circle"></nz-avatar>
            <span class="user-name">{{ username }}</span>
            <div class="popover" *ngIf="isPopoverVisible">
                <p id="popover-content">{{ walletInfo?.address || ('GDVI.ADDITIONAL_INFO' | translate) }}</p>
                <button nz-button nzType="default" (click)="copyContent()">
                    <i nz-icon [nzType]="isCopied ? 'check' : 'copy'" nzTheme="outline"></i>
                </button>
            </div>
        </div>
    </div>
</nz-layout>

<div class="sol">
    <div class="top-div">
        {{ (walletInfo?.balance || 0) | currency:'VND':'symbol':'1.0-0' }} VND
    </div>
    <div class="bottom-div">
        <button nz-button nzType="primary" (click)="showQRCode()">
            <i nz-icon nzType="qrcode" nzTheme="outline"></i> {{ 'GDVI.RECEIVE' | translate }}
        </button>
        <button nz-button nzType="primary" class="file-upload-btn">
            <i nz-icon nzType="upload" nzTheme="outline"></i> {{ 'GDVI.UPLOAD_QR' | translate }}
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        </button>
        <button nz-button nzType="primary" (click)="toggleScanning()">
            <i nz-icon [nzType]="isScanning ? 'pause' : 'scan'" nzTheme="outline"></i>
            {{ isScanning ? ('GDVI.STOP' | translate) : ('GDVI.SCAN_QR' | translate) }}
        </button>
        <div class="scanner-wrapper" *ngIf="isScanning">
            <div class="scanner-container">
                <zxing-scanner (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
            </div>
        </div>
        <button nz-button nzType="primary" (click)="openSendForm()">
            <i nz-icon nzType="send" nzTheme="outline"></i> {{ 'GDVI.SEND' | translate }}
        </button>
        <button nz-button nzType="primary">
            <i nz-icon nzType="retweet" nzTheme="outline"></i> {{ 'GDVI.SWAP' | translate }}
        </button>
        <button nz-button nzType="primary">
            <i nz-icon nzType="money-collect" nzTheme="outline"></i> {{ 'GDVI.BUY' | translate }}
        </button>
        <button nz-button nzType="primary" (click)="showDepositForm()">
            <i nz-icon nzType="plus" nzTheme="outline"></i> {{ 'GDVI.DEPOSIT' | translate }}
        </button>
        <button nz-button nzType="primary">
            <i nz-icon nzType="minus" nzTheme="outline"></i> {{ 'GDVI.WITHDRAW' | translate }}
        </button>
    </div>
</div>

<div *ngIf="isDepositFormVisible" class="overlay">
    <div class="deposit-form-container">
        <h3>{{ 'GDVI.DEPOSIT_REQUEST' | translate }}</h3>
        <form (ngSubmit)="onPay()" #paymentForm="ngForm">
            <div class="form-group">
                <label for="amount">{{ 'GDVI.AMOUNT_VND' | translate }}</label>
                <input class="form-control" id="amount" name="amount" type="text" [(ngModel)]="amount"
                    (input)="formatAmount()" (keydown)="restrictNonNumeric($event)" required [placeholder]="'GDVI.ENTER_AMOUNT' | translate">
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <button type="submit" class="btn btn-primary">{{ 'GDVI.PAY_REDIRECT' | translate }}</button>
        </form>
        <p>&nbsp;</p>
        <footer class="footer">
            <p>© VNPAY 2024</p>
        </footer>
    </div>
</div>
<nz-tabset [(nzSelectedIndex)]="selectedIndex">
    <nz-tab [nzTitle]="'GDVI.TRANSACTION_HISTORY' | translate">
        <app-transaction-history></app-transaction-history>
    </nz-tab>
    <nz-tab [nzTitle]="'GDVI.OWNED_TOKENS' | translate">
        <app-token></app-token>
    </nz-tab>
</nz-tabset>

<div *ngIf="qrCodeVisible" class="qr-code-modal">
    <div class="qr-code-content">
        <h3>{{ 'GDVI.QR_CODE_ADDRESS' | translate }}</h3>
        <nz-qrcode [nzValue]="walletInfo?.address" [size]="200"></nz-qrcode>
        <button nz-button nzType="default" (click)="closeQRCode()">{{ 'GDVI.CLOSE' | translate }}</button>
    </div>
</div>

<div *ngIf="SendVisible" class="send-form-overlay" (click)="closeSendForm()"></div>
<div *ngIf="SendVisible" class="send-form-modal">
    <button class="close-button" (click)="closeSendForm()" >
        &times;
    </button>
    <!-- aria-label="{{ 'GDVI.CLOSE' | translate }}" -->
    <div class="account-info">
        <h3>{{ 'GDVI.SOURCE_ACCOUNT' | translate }}: {{ walletInfo?.address || ('GDVI.ADDITIONAL_INFO' | translate) }}</h3>
        <h4>{{ 'GDVI.OWNER' | translate }}: {{ username }}</h4>
        <p>{{ 'GDVI.BALANCE' | translate }}: {{ (walletInfo?.balance || 0) | currency:'VND':'symbol':'1.0-0' }} VND</p>
    </div>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>{{ 'GDVI.RECIPIENT_ADDRESS' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <div class="input-with-button">
                    <input nz-input formControlName="recipient" [placeholder]="'GDVI.ENTER_RECIPIENT_ADDRESS' | translate"
                        (input)="fetchUsernameFromPublicKey(transactionForm.get('recipient')?.value)" />
                    <button nz-button nzType="default" (click)="openContactList()" class="contact-button">
                        <i nz-icon nzType="contacts"></i>
                    </button>
                </div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">{{ 'GDVI.RECIPIENT_NAME' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <input nz-input [value]="recipientName" [placeholder]="'GDVI.USERNAME' | translate" disabled />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>{{ 'GDVI.AMOUNT' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="amount" [placeholder]="'GDVI.ENTER_AMOUNT' | translate" type="number" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">{{ 'GDVI.MESSAGE' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <textarea nz-input formControlName="message" [placeholder]="'GDVI.ENTER_MESSAGE' | translate"></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzSpan]="18" [nzOffset]="6">
                <button nz-button nzType="primary" type="submit">{{ 'GDVI.SEND' | translate }}</button>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *ngIf="isContactListVisible" class="contact-list-modal">
        <app-contact [senderSecretKey]="secretKeyValue" (contactSelected)="onContactSelected($event)"></app-contact>
    </div>
</div>