<button nz-button nzType="primary" (click)="showForm = true; isEditing = false">{{ 'FORM.ADD_CATEGORY' | translate }}</button>

<div class="search-container">
  <input nz-input placeholder="{{ 'FORM.SEARCH' | translate }}" [(ngModel)]="searchTerm" (ngModelChange)="searchCategories()" />
  <nz-select [(ngModel)]="category" nzAllowClear nzPlaceHolder="{{ 'FORM.CHOOSE' | translate }}" nzShowSearch (ngModelChange)="searchCategories()">
    <nz-option nzValue="TIEU_CHUAN" nzLabel="{{ 'FORM.STANDARD' | translate }}"></nz-option>
    <nz-option nzValue="LOAI_HINH" nzLabel="{{ 'FORM.TYPE' | translate }}"></nz-option>
    <nz-option nzValue="CHAT" nzLabel="{{ 'FORM.EXHAUST' | translate }}"></nz-option>
  </nz-select>
</div>
<div class="overlay" *ngIf="showForm">
  <div class="form-container">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>{{ 'FORM.CODE' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please input the code!">
          <input nz-input formControlName="code" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>{{ 'FORM.NAME' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please input the name!">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">{{ 'FORM.DESCRIPTION' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="description" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>{{ 'FORM.CATEGORY' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please select a category!">
          <nz-select formControlName="category" (ngModelChange)="onCategoryChange($event)">
            <nz-option *ngFor="let cat of categories" [nzValue]="cat" [nzLabel]="cat"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isSubstancesCategory()">
        <nz-form-label [nzSpan]="6">{{ 'FORM.UNIT' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="unit" placeholder="tấn" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isSubstancesCategory()">
        <nz-form-label [nzSpan]="6">{{ 'FORM.CONVERSION_PRICE' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="conversionPrice" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" type="submit">
            {{ isEditing ? ('FORM.UPDATE_CATEGORY' | translate) : ('FORM.CREATE_CATEGORY' | translate) }}
          </button>
          <button nz-button nzType="default" (click)="showForm = false">{{ 'FORM.CANCEL' | translate }}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<nz-table #basicTable [nzData]="filteredCategories" [nzScroll]="{ x: '1000px', y: '500px' }" [nzBordered]="true"
  [nzPageSize]="5" [nzShowPagination]="true" ngSkipHydration>
  <thead>
    <tr>
      <th nzWidth="10%">{{ 'TABLE.CODE' | translate }}</th>
      <th nzWidth="20%">{{ 'TABLE.NAME' | translate }}</th>
      <th nzWidth="30%">{{ 'TABLE.DESCRIPTION' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE.CATEGORY' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE.UNIT' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE.CONVERSION_PRICE' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE.ACTIONS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of basicTable.data">
      <td>{{ category.code }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.category }}</td>
      <td>{{ category.unit }}</td>
      <td>{{ category.conversionPrice }}</td>
      <td>
        <button nz-button nzType="primary" (click)="editCategory(category)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
        <button nz-button nzType="primary" nzDanger (click)="deleteCategory(category.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
      </td>
    </tr>
  </tbody>
</nz-table>