<button *ngIf="!readOnly" nz-button nzType="primary" (click)="navigateToAddMeasurement()">
  {{ 'TABLE_MEASURER.ADD_DATA' | translate }}
</button>

<nz-table #basicTable [nzData]="measurement" [nzScroll]="{ x: '1600px', y: '550px' }" [nzBordered]="true" [nzPageSize]="5" [nzShowPagination]="true">
  <thead>
    <tr>
      <th nzWidth="10%">{{ 'TABLE_MEASURER.MEASURER' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE_MEASURER.MEASUREMENT_DATE' | translate }}</th>
      <th nzWidth="30%">{{ 'TABLE_MEASURER.FARMING_PROCESS' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE_MEASURER.LANDOWNER_NAME' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE_MEASURER.LANDOWNER_PHONE' | translate }}</th>
      <th nzWidth="10%">{{ 'TABLE_MEASURER.ACTIVE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let measurement of basicTable.data">
      <td>{{ measurement.measurer }}</td>
      <td>{{ measurement.measurementDate }}</td>
      <td>{{ measurement.farmingProcess }}</td>
      <td>{{ measurement.namelandowner }}</td>
      <td>{{ measurement.phonelandowner }}</td>
      <td>
        <button nz-button nzType="primary" (click)="navigateToMeasurement(measurement.id)">
          {{ 'TABLE_MEASURER.VIEW_DATA' | translate }}
        </button>
        <ng-container *ngIf="!readOnly">
          <button *ngIf="role === 'ROLE_SUPERADMIN'" nz-button nzType="primary" (click)="confirmDeleteMeasurementData(measurement.id)">
            {{ 'TABLE_MEASURER.DELETE_DATA' | translate }}
          </button>  
          <button *ngIf="role === 'ROLE_SUPERADMIN'" nz-button nzType="default" (click)="navigateToUpdateMeasurement(measurement.id)">
            {{ 'TABLE_MEASURER.UPDATE' | translate }}
          </button>       
          <button *ngIf="role === 'ROLE_SUPERADMIN'" nz-button (click)="navigateToRequest2(measurement)">
            {{ 'TABLE_MEASURER.CONFIRM_SALE' | translate }}
          </button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
