<html lang="vi">

<head>

    <link rel="stylesheet" href="//bizweb.dktcdn.net/100/459/658/themes/935500/assets/plugin.scss.css?1728351069170">

    <link href="//bizweb.dktcdn.net/100/459/658/themes/935500/assets/header.scss.css?1728351069170" rel="stylesheet"
        type="text/css" media="all">

    <link href="//bizweb.dktcdn.net/100/459/658/themes/935500/assets/ajax-cart-new.scss.css?1728351069170"
        rel="stylesheet" type="text/css" media="all">

    <style>
        :root {
            --main-color: #ffb9a4;
            --text-color: #333333;
            --font-base: 'Roboto', sans-serif;
            --price: #212121;
            --hover: #ffb9a4;
            --hover-link: #bf664e;
            --promotion-title-color: #a05139;
            --new-title-color: #225a21;
            --bestsale-title-color: #2e747e;
            --all-product-module-background: #fff2eb;
            --all-product-module-title-color: #bf664e;
            --banner-module-background-color: #f8f3bc;
            --review_module_color: #333333;
            --review_module_background: #fff2eb;
            --button-color: #a05139;
            --button-background: #fff4f0;
            --button-hover: #ffb9a4;
            --social-footer-bg: #ffece1;
            --title-color-footer: #a05139;
            --color-title-featured: #bf664e;
            --color-title-item-featured: #333333;
            --bg-related-blog: #fcf8f4;

        }
    </style>
</head>

<body>
    <header class="header">

        <div class="container">
            <div class="category-action d-inline-flex d-lg-none">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#categoryicon"></use>
                </svg>
            </div>
            <div class="row">
                <div class="col-lg-2 d-flex group-action">
                    <div class="item-action block-cart">
                        <a href="/cart" class="header-cart" title="Giỏ hàng">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bagcart"></use>
                            </svg>
                            <span class="count_item_pr">1</span>
                        </a>
                        <div class="top-cart-content cartheader">
                            <div class="CartHeaderContainer cart-container">
                                <div class="cart-header-content cart_body">
                                    <div class="ajaxcart__product cart_product" data-line="1"><input type="checkbox"
                                            data-id="1" data-price="55000" data-quantity="1" data-variant-id="68561421"
                                            checked="">
                                        <a href="/sua-rua-mat-hazeline" class="ajaxcart__product-image cart_image"
                                            title="Sữa rửa mặt Hazeline"><img
                                                src="https://bizweb.dktcdn.net/thumb/compact/100/459/658/products/3-jpeg-c5582b5e-e1a6-45a4-90e6-90063370021b.jpg"
                                                alt="Sữa rửa mặt Hazeline"></a>
                                        <div class="grid__item cart_info">
                                            <div class="ajaxcart__product-name-wrapper cart_name">
                                                <a href="/sua-rua-mat-hazeline" class="ajaxcart__product-name h4"
                                                    title="Sữa rửa mặt Hazeline">Sữa rửa mặt Hazeline</a>
                                                <span class="ajaxcart__product-meta variant-title"></span>
                                                <a onclick="CartBase.removeItemCart(this)"
                                                    class="cart__btn-remove remove-item-cart ajaxifyCart--remove"
                                                    href="javascript:;" data-line="1">Xóa</a>
                                            </div>
                                            <div class="grid">
                                                <div class="grid__item one-half text-right cart_prices">
                                                    <span class="cart-price">55.000₫</span>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="input-group quantity-input-group">
                                                    <div class="count_btn_style quantity_wanted_p">
                                                        <div class="custom input_number_product soluong1">
                                                            <a class="btn_num num_1 button button_qty">
                                                                <i class="fas fa-minus-circle"></i>
                                                            </a>
                                                            <input type="number" id="quantity-detail" name="quantity"
                                                                min="1" max="1000" class="form-control prd_quantity" />
                                                            <a class="btn_num num_2 button button_qty">
                                                                <i class="fas fa-plus-circle"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid line-price">
                                                <div class="grid__item one-half text-right cart_prices">
                                                    <span class="cart-price">55.000₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                                    <div class="ajaxcart__subtotal">
                                        <div class="cart__subtotal">
                                            <div class="cart__col-6">Tổng tiền:</div>
                                            <div class="text-right cart__totle"><span class="total-price">55.000₫</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart__btn-proceed-checkout-dt">
                                        <button onclick="CartBase.checkout()" type="button"
                                            class="button btn btn-default cart__btn-proceed-checkout"
                                            id="btn-proceed-checkout" title="Thanh toán">Thanh toán</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="bodywrap">
        <section class="main-cart-page main-container col1-layout page-default">
            <div class="main container cartpcstyle">
                <h1 class="title-module">
                    Giỏ hàng
                </h1>
                <div class="cart-page">
                    <div class="drawer__inner">
                        <div class="CartPageContainer cart-container">
                            <form action="/cart" method="post" novalidate="" class="cart ajaxcart cart-mobile cartpage">
                                <div class="cart-header-info">
                                    <div>Thông tin sản phẩm</div>
                                    <div>Đơn giá</div>
                                    <div>Số lượng</div>
                                    <div>Thành tiền</div>
                                </div>
                                <div id="cart-content"
                                    class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body body-cart-page items">
                                    <div class="ajaxcart__product cart_product" data-line="1"><input type="checkbox"
                                            data-id="1" data-price="55000" data-quantity="1" data-variant-id="68561421"
                                            checked="">
                                        <a href="/sua-rua-mat-hazeline" class="ajaxcart__product-image cart_image"
                                            title="Sữa rửa mặt Hazeline"><img
                                                src="https://bizweb.dktcdn.net/thumb/compact/100/459/658/products/3-jpeg-c5582b5e-e1a6-45a4-90e6-90063370021b.jpg"
                                                alt="Sữa rửa mặt Hazeline"></a>
                                        <div class="grid__item cart_info">
                                            <div class="ajaxcart__product-name-wrapper cart_name">
                                                <a href="/sua-rua-mat-hazeline" class="ajaxcart__product-name h4"
                                                    title="Sữa rửa mặt Hazeline">Sữa rửa mặt Hazeline</a>
                                                <span class="ajaxcart__product-meta variant-title"></span>
                                                <a onclick="CartBase.removeItemCart(this)"
                                                    class="cart__btn-remove remove-item-cart ajaxifyCart--remove"
                                                    href="javascript:;" data-line="1">Xóa</a>
                                            </div>
                                            <div class="grid">
                                                <div class="grid__item one-half text-right cart_prices">
                                                    <span class="cart-price">55.000₫</span>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <div class="input-group quantity-input-group">
                                                    <div class="count_btn_style quantity_wanted_p">
                                                        <div class="custom input_number_product soluong1">
                                                            <a class="btn_num num_1 button button_qty">
                                                                <i class="fas fa-minus-circle"></i>
                                                            </a>
                                                            <input type="number" id="quantity-detail" name="quantity"
                                                                min="1" max="1000" class="form-control prd_quantity" />
                                                            <a class="btn_num num_2 button button_qty">
                                                                <i class="fas fa-plus-circle"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="grid line-price">
                                                <div class="grid__item one-half text-right cart_prices">
                                                    <span class="cart-price">55.000₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                                    <div class="row">
                                        <div class="col-lg-4 col-12 offset-md-8 offset-lg-8 offset-xl-8">
                                            <div class="ajaxcart__subtotal">
                                                <div class="cart__subtotal">
                                                    <div class="cart__col-6">Tổng tiền:</div>
                                                    <div class="text-right cart__totle"><span
                                                            class="total-price">55.000₫</span></div>
                                                </div>
                                            </div>
                                            <div class="cart__btn-proceed-checkout-dt">
                                                <button onclick="CartBase.checkout()" type="button"
                                                    class="button btn button-default cart__btn-proceed-checkout"
                                                    id="btn-proceed-checkout" title="Thanh toán">Thanh toán</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

</html>