<html lang="vi">

<head>
    <link rel="stylesheet" href="//bizweb.dktcdn.net/100/459/658/themes/935500/assets/plugin.scss.css?1728351069170">
    <link href="//bizweb.dktcdn.net/100/459/658/themes/935500/assets/header.scss.css?1728351069170" rel="stylesheet"
        type="text/css" media="all">
    <link href="//bizweb.dktcdn.net/100/459/658/themes/935500/assets/ajax-cart-new.scss.css?1728351069170"
        rel="stylesheet" type="text/css" media="all">

    <style>
        :root {
            --main-color: #ffb9a4;
            --text-color: #333333;
            --font-base: 'Roboto', sans-serif;
            --price: #212121;
            --hover: #ffb9a4;
            --hover-link: #bf664e;
            --promotion-title-color: #a05139;
            --new-title-color: #225a21;
            --bestsale-title-color: #2e747e;
            --all-product-module-background: #fff2eb;
            --all-product-module-title-color: #bf664e;
            --banner-module-background-color: #f8f3bc;
            --review_module_color: #333333;
            --review_module_background: #fff2eb;
            --button-color: #a05139;
            --button-background: #fff4f0;
            --button-hover: #ffb9a4;
            --social-footer-bg: #ffece1;
            --title-color-footer: #a05139;
            --color-title-featured: #bf664e;
            --color-title-item-featured: #333333;
            --bg-related-blog: #fcf8f4;
        }
    </style>
</head>

<body>

    <main class="bodywrap">
        <section class="main-cart-page main-container col1-layout page-default">
            <div class="main container cartpcstyle">
                <h1 class="title-module">
                    Giỏ hàng
                </h1>
                <div class="cart-page">
                    <div class="drawer__inner">
                        <div class="CartPageContainer cart-container">
                            <form action="/cart" method="post" novalidate="" class="cart ajaxcart cart-mobile cartpage">
                                <div class="cart-header-info">
                                    <div>Thông tin sản phẩm</div>
                                    <div>Đơn giá</div>
                                    <div>Số lượng</div>
                                    <div>Thành tiền</div>
                                    <div>Thao tác</div>
                                </div>
                                <div id="cart-content" *ngFor="let item of cartItems"
                                    class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body body-cart-page items">
                                    <div class="ajaxcart__product cart_product" data-line="1">
                                        <input type="checkbox" [checked]="item.checked"
                                            (change)="onItemCheck(item, $event)" style="width: 100px;height: 20px;">
                                        <a class="ajaxcart__product-image cart_image" title="{{ item.projectName }}">
                                            <img [src]="getFirstImageUrl(item.imageUrls)"
                                                alt="{{ item.projectName }}" />
                                        </a>

                                        <div class="grid__item cart_info">
                                            <div class="ajaxcart__product-name-wrapper cart_name">
                                                <a class="ajaxcart__product-name h3">{{ item.projectName }}</a>
                                                <span class="ajaxcart__product-meta variant-title"></span>
                                            </div>

                                        </div>


                                        <div class="grid__item one-third text-right cart_prices"
                                            style="width: 100px; margin: 100px;">
                                            <span class="cart-price">{{ item.price | currency:'VND':'symbol'
                                                }}</span>
                                        </div>
                                        <div class="grid__item one-third text-right cart_prices">
                                            <div class="input-group quantity-input-group">
                                                <div class="custom input_number_product">
                                                    <input type="number" id="quantity-{{ item.cartId }}"
                                                        name="quantity-{{ item.cartId }}" min="1" max="1000"
                                                        class="form-control prd_quantity" [(ngModel)]="item.amount"
                                                        (ngModelChange)="logAmount(item)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="grid__item one-third text-right cart_prices"
                                            style="width: 100px;margin: 60px;">
                                            <span class="cart-price" style="color: red;">{{ (item.price * item.amount) |
                                                currency:'VND':'symbol' }}</span>
                                        </div>
                                        <div class="ajaxcart__product-name-wrapper cart_name" style="margin: 20px;">
                                            <a (click)="deleteCartItem(item.cartId)"
                                                class="cart__btn-remove remove-item-cart ajaxifyCart--remove"
                                                style="color: #fd7e14;font-weight: bold;">Xóa</a> <br>
                                            <a class="cart__btn-remove remove-item-cart ajaxifyCart--remove"
                                                style="color: #28a745;font-weight: bold;">Xem</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                                    <div class="row">
                                        <div class="col-lg-4 col-12 offset-md-8 offset-lg-8 offset-xl-8">
                                            <div class="ajaxcart__subtotal">
                                                <div class="cart__subtotal">
                                                    <div class="cart__col-6">Tổng tiền:</div>
                                                    <div class="text-right cart__totle">
                                                        <span class="total-price" style="color: red">{{ calculateTotal()
                                                            | currency:'VND':'symbol' }}</span>
                                                    </div>
                                                </div>

                                                <div class="cart__btn-proceed-checkout-dt">
                                                    <button type="button"
                                                        class="button btn button-default cart__btn-proceed-checkout"
                                                        title="Thanh toán" (click)="processAllPayments()">Thanh
                                                        toán</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </main>
</body>

</html>