.input_number_product {
    display: flex;
    align-items: center;

    .prd_quantity {
        width: 100px;
        text-align: center;
        margin: 0 5px;
        font-size: 16px;
        /* Kích thước chữ */
        padding: 0.375rem 0.75rem;
        /* Khoảng cách bên trong */
        border: 1px solid #ced4da;
        /* Viền */
        border-radius: 0.25rem;
        /* Bo góc */
    }
}   