
.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: black;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {
  margin: 0;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100%;
  height: auto;
  overflow: auto;
}


.header-trigger .trigger {
  cursor: pointer;
}

ul[nz-menu] {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: 	#E3F2FD;
  color: black;
  font-weight: bolder;
}

ul[nz-menu] li {
  display: inline-block;
  margin-right: 16px;
  background-color: 	#E3F2FD
;
  color: #1890ff;
}
ul[nz-menu] li a {
  display: inline-block;
  margin-right: 16px;
  color: black;
} 
ul[nz-menu] li:last-child {
  margin-right: 0;
}
div.ant-menu-submenu-title{
 padding: 0px;
}
