<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#f02b2b">
    <link rel="canonical" href="https://all-green.mysapo.net/">
    <meta name="revisit-after" content="2 days">
    <meta name="robots" content="noodp,index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <title>All Green </title>
    <meta name="keywords" content="AllGreen">
    <meta property="og:type" content="website">
    <meta property="og:title" content="All Green">
    <meta property="og:image"
        content="https://bizweb.dktcdn.net/100/383/804/themes/903003/assets/logo.png?1716195309561">
    <meta property="og:image:secure_url"
        content="https://bizweb.dktcdn.net/100/383/804/themes/903003/assets/logo.png?1716195309561">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://all-green.mysapo.net/">
    <meta property="og:site_name" content="All Green">
    <link rel="preload" as="style" type="text/css"
        href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/main.scss.css?1716195309561">
    <link rel="preload" as="style" type="text/css"
        href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/index.scss.css?1716195309561">
    <link rel="preload" as="style" type="text/css"
        href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/bootstrap-4-3-min.css?1716195309561">
    <link rel="stylesheet"
        href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/bootstrap-4-3-min.css?1716195309561">
    <link href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/main.scss.css?1716195309561" rel="stylesheet"
        type="text/css" media="all">
    <link href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/index.scss.css?1716195309561" rel="stylesheet"
        type="text/css" media="all">
    <link href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/contact_style.scss.css?1716195309561"
        rel="stylesheet" type="text/css" media="all">
    <link href="//bizweb.dktcdn.net/100/383/804/themes/903003/assets/quickviews_popup_cart.scss.css?1716195309561"
        rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" async="" charset="utf-8"
        src="https://www.gstatic.com/recaptcha/releases/-ZG7BC9TxCVEbzIO2m429usb/recaptcha__vi.js"
        crossorigin="anonymous"
        integrity="sha384-q0ik326Zm6Jt15ASfVuGOqCAcgeINNtwX8h3fC49XNm1KEAMzT+3P/mbMDx7Q/36"></script>
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'all-green.mysapo.net';
        Bizweb.id = 383804;
        Bizweb.theme = { "id": 903003, "name": "All Green Demo", "role": "main" };
        Bizweb.template = 'index';
        if (!Bizweb.fbEventId) Bizweb.fbEventId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });		
    </script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = [];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>
    <script>
        window.BizwebAnalytics = window.BizwebAnalytics || {};
        window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
        window.BizwebAnalytics.meta.currency = 'VND';
        window.BizwebAnalytics.tracking_url = '/s';

        var meta = {};


        for (var attr in meta) {
            window.BizwebAnalytics.meta[attr] = meta[attr];
        }
    </script>


    <script src="/dist/js/stats.min.js?v=96f2ff2"></script>
    <script async="" src="//bizweb.dktcdn.net/web/assets/lib/js/fp.v3.3.0.min.js"></script>
</head>

<body>
    <div class="opacity_menu"></div>
    <div class="inbody clearfix">
        <div class="wraphead_mobile clearfix header-fixed sticky">
            <div class="container">
                <div class="header_top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-12">
                            <div class="logo">

                                <a href="/" class="logo-wrapper ">
                                    <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                                </a>

                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="cartsearch">
                                <div class="searchhd hidden-xs d-sm-none d-lg-block d-xl-block">
                                    Hotline: <a class="fone" href="tel:0393928815">0393928815</a>
                                </div>
                                <div class="carthd">
                                    <div class="mini-cart text-xs-center">
                                        <div class="icon_cart heading-cart cart_header">
                                            <a class="img_hover_cart" title="Giỏ hàng"
                                                onclick="window.location.href='/cart'">
                                                <div class="icon_hotline">
                                                    <i class="fas fa-shopping-basket iconcart"></i>
                                                    <div class="border_count">
                                                        <span class="count_item count_item_pr">{{ cartItemCount
                                                            }}</span>
                                                    </div>
                                                    <span class="text_gh hidden-xs">Giỏ hàng</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <span class="menubutton d-block d-lg-none d-xl-none"><i class="fas fa-bars"></i></span>
        </div>

        <div class="bodywrap clearfix">
            <h1 class="d-none"></h1>
            <section class="awe-section-1">
                <div class="section_slider clearfix">
                    <div class="container">
                        <div class="section home-slider slick-initialized slick-slider">
                            <div aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 1037px;" role="listbox">
                                    <div class="items slick-slide slick-current slick-active" data-slick-index="0"
                                        aria-hidden="false"
                                        style="width: 1037px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
                                        tabindex="-1" role="option" aria-describedby="slick-slide00">
                                        <a href="#" tabindex="0">
                                            <img src="https://moitruonghopnhat.com/upload/default/images/tin-tuc/tin-chi-carbon-16032023-1.jpg"
                                                alt="logo">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="awe-section-3">
                <section class="section_product_hot">
                    <div class="container">
                        <div class="tab-link item has-content current" data-tab="tab-1">
                            <div class="titlemodule a-center section">
                                <h2>
                                    MỚI NHẤT
                                </h2>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <section class="awe-section-4">
                <div class="section_2banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="adv_bottom_inner">
                                    <figure class="img_effect">
                                        <a class="scale_hover" href="#" title="Banner 1">
                                            <img class="lazyload loaded"
                                                src="https://cdn.al-ain.com/lg/images/2023/11/20/195-204801-emissionsgabreport_700x400.jpg  "
                                                alt="Banner 1">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="adv_bottom_inner">
                                    <figure class="img_effect">
                                        <a class="scale_hover" href="#" title="Banner 2">
                                            <img class="lazyload loaded"
                                                src="https://insights.ftft.com.tw/wp-content/uploads/770x500-25.jpg"
                                                alt="Banner 2">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="awe-section-5">
                <section class="section_all_pro clearfix">
                    <div class="container">
                        <div class="tab-link item has-content current" data-tab="tab-1">
                            <div class="titlemodule a-center section">
                                <h2>
                                    DANH SÁCH CÁC SẢN PHẨM
                                </h2>
                            </div>
                        </div>
                        <div class="tab-block-more section tabwrap not-dqtab e-tabs ajax-tab-1"
                            data-section="ajax-tab-1">
                            <div
                                class="twrap navbar-pills tabs tabs-title tabtitle1 link_tab_check_click closetab ajax clearfix">
                                <div class="tab-link item has-content current" data-tab="tab-1"
                                    onclick="toggleFilter()">Lọc</div>

                                <div class="tab-link item ">
                                    Tiêu chuẩn
                                </div>

                                <div class="tab-link item ">
                                    Loại Hình
                                </div>
                                <div class="tab-link item ">
                                    Tùy chọn
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>

</body>
<div class="product-container">
    <div class="item_product_main" *ngFor="let trade of trades">
        <div class="product-loop-1 product-loop-2 product-base">
            <div class="product-thumbnail">
                <a class="image_link image_thumb display_flex scale_hover xem_nhanh quick-view"
                    data-handle="trai-cay-4">
                    <img [src]="trade.imageUrls && trade.imageUrls.length > 0 
                               ? 'http://localhost:8080/image/get-by-url?imageUrl=' + trade.imageUrls[0] + '&width=500&height=500' 
                               : 'http://path-to-default-image.jpg'" id="product-featured-image-quickview"
                        class="img-responsive product-featured-image-quickview" alt="quickview">
                </a>
                <div class="product-action clearfix">
                    <form action="/cart/add" method="post" class="variants form-nut-grid"
                        data-id="product-actions-17617019" enctype="multipart/form-data">
                        <div class="group_action">
                            <input type="hidden" name="variantId" value="32037152">
                            <button class="btn-buy btn-cart btn btn-circle left-to add_to_cart" title="Đặt hàng ngay"
                                (click)="buyNow(trade)">
                                Mua ngay
                            </button>
                            <a title="Xem ngay" class="xem_nhanh btn-circle btn_view btn right-to quick-view"
                                (click)="openModal(trade)">
                                Xem ngay
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="product-info a-center">
                <h3 class="product-name">
                    <a class="xem_nhanh quick-view" href="/trai-cay-4" data-handle="trai-cay-4" title="Trái cây 4">{{
                        trade.projectName }}</a>
                </h3>
                <div class="product-hideoff">
                    <div class="product-hide">
                        <div class="price-box clearfix">
                            <div class="special-price">
                                <span class="price product-price">Giá: {{ trade.price | currency: 'VND' : 'symbol' :
                                    '3.0-0' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="showModal" class="modal-overlay">
    <div class="quick-view-product" (click)="onModalClick($event)">
        <div class="block-quickview primary_block details-product">
            <div class="row">
                <div class="product-left-column product-images col-xs-12 col-sm-4 col-md-4 col-lg-6 col-xl-6">
                    <div class="qvx">
                        <div class="image-block large-image col_large_default avalible">
                            <span class="view_full_size">
                                <a class="img-product" href="javascript:;">
                                    <img [src]="currentImage" id="product-featured-image-quickview"
                                        class="img-responsive product-featured-image-quickview" alt="quickview">
                                </a>
                            </span>
                            <div class="loading-imgquickview" style="display:none;"></div>
                        </div>
                    </div>
                    <div class="more-view-wrapper clearfix thumbleft_qv available">
                        <div class="thumbs_quickview-container" style="display: flex; flex-wrap: wrap;">
                            <div class="thumbs_quickview" *ngFor="let image of selectedTrade.imageUrls"
                                style="margin-right: 10px;">
                                <a href="javascript:void(0)" (click)="updateCurrentImage(image)" title="title">
                                    <img [src]="'http://localhost:8080/image/get-by-url?imageUrl=' + image + '&width=50&height=50'"
                                        alt="Office World"
                                        style="max-width:200px; max-height:200px; padding:5px; margin-top: 30px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-center-column product-info product-item col-xs-12 col-sm-6 col-md-8 col-lg-6 col-xl-6 details-pro style_product style_border"
                    id="product-17617002">
                    <div class="head-qv group-status">
                        <h3 class="qwp-name title-product">{{ selectedTrade.projectName }}</h3>
                    </div>

                    <div class="head-qv group-status">
                        <p class="qwp-name title-product">Tiêu chuẩn: {{ selectedTrade.typeName }}</p>
                    </div>
                    <div class="head-qv group-status">
                        <p class="qwp-name title-product">Loại hình: {{ selectedTrade.standardName }}</p>
                    </div>
                    <div class="special-price">
                        <span class="price product-price">Số lượng còn lại: {{ selectedTrade.quantity }}</span>
                    </div>

                    <div class="product-description product-summary">
                        <div class="rte">
                            <p>Mô tả: {{ selectedTrade.projectDescription }}</p>
                        </div>

                    </div>
                    <form action="/cart/add" method="post" enctype="multipart/form-data"
                        class="quick_option variants form-ajaxtocart form-product" id="product-actions-17617002">
                        <div class="quickview-info">
                            <span class="prices price-box">
                                <del class="old-price"></del>
                                <span class="price product-price">{{ selectedTrade?.price | currency: 'VND' : 'symbol' :
                                    '3.0-0' }}/TC</span>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a title="Close" class="quickview-close close-window" href="javascript:;" (click)="closeModal()"><i
                class="fas fa-times"></i></a>
    </div>
</div>
<div class="modal-overlay" *ngIf="showPurchaseModal">
    <div class="purchase-modal" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="row row-noGutter">
                <div class="modal-left col-sm-12 col-lg-12 col-md-12" style="padding: 60px;">
                    <h3 class="title">Xác nhận mua bán</h3>
                    <div class="modal-body">
                        <div class="media">
                            <div class="media-left thumb_img">
                                <div class="thumb-1x1">
                                    <img [src]="currentImage" id="product-featured-image-quickview"
                                        class="img-responsive product-featured-image-quickview" alt="quickview">
                                </div>
                            </div>
                            <div class="media-body body_content">
                                <h4 class="product-title">{{ selectedTrade.projectName }}</h4>
                                <h4 class="product-new-price">
                                    <span>Giá: {{ selectedTrade?.price | currency: 'VND' : 'symbol' : '3.0-0' }}</span>
                                </h4>
                                <h4 class="product-remaining-quantity">
                                    <span>Số lượng còn lại: {{ selectedTrade.quantity }}</span>
                                </h4>
                                <div class="variant_title"><span></span></div>
                                <div class="input-group quantity-input-group">
                                    <div class="count_btn_style quantity_wanted_p">
                                        <div class="custom input_number_product soluong1">
                                            <a class="btn_num num_1 button button_qty" (click)="decreaseQuantity()">
                                                <i class="fas fa-minus-circle"></i>
                                            </a>
                                            <input type="number" id="quantity-detail" name="quantity"
                                                [(ngModel)]="quantity" min="0" [max]="remainingQuantity"
                                                class="form-control prd_quantity" (change)="calculateTotalPrice()" />


                                            <a class="btn_num num_2 button button_qty" (click)="increaseQuantity()">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="product-new-price" *ngIf="quantity >= 1">
                                    <span>Tổng: {{ totalPrice | currency: 'VND' : 'symbol' : '3.0-0' }}</span>
                                </h4>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between margin-top-10 col-sm-12 col-lg-12 col-md-12">
                    <a style="background-color: #FFD700;" class="btn btn-gold btn-main checkout_button"
                        title="Thêm vào giỏ hàng" (click)="addToCart()">
                        Thêm vào giỏ hàng <i class="fas fa-shopping-basket iconcart"></i>
                    </a>
                    <a class="btn btn-primary btn-main checkout_button" title="Tiến hành thanh toán"
                        (click)="processPayment(selectedTrade)">
                        Tiến hành thanh toán <i class="fa fa-arrow-right"></i>
                    </a>
                </div>

                <a title="Close" class="quickview-close close-window" href="javascript:;"
                    (click)="closePurchaseModal()"><i class="fas fa-times"></i></a>
            </div>

        </div>
    </div>
</div>
</html>

