<nz-table #basicTable [nzData]="transactions" [nzBordered]="true"
  [nzPageSize]="pageSize" [nzShowPagination]="true" [nzTotal]="transactions.length" [nzPageIndex]="pageIndex" (nzPageIndexChange)="onPageChange($event)" ngSkipHydration>
  <thead>
    <tr >
      <th></th>
      <th nzWidth="20%;text-align: center;">{{ 'TRANSACTION_HISTORY.SIGNATURE' | translate }}</th>
      <th nzWidth="20%;text-align: center;">{{ 'TRANSACTION_HISTORY.TRANSACTION_DATE' | translate }}</th>
      <th nzWidth="20%;text-align: center;">{{ 'TRANSACTION_HISTORY.BLOCK' | translate }}</th>
      <th nzWidth="20%;text-align: center;">{{ 'TRANSACTION_HISTORY.AGE' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let transaction of transactions.slice((pageIndex - 1) * pageSize, pageIndex * pageSize)">
      <tr>
        <td [(nzExpand)]="transaction.expand" (click)="viewTransactionDetails(transaction)"></td>
        <td style=" text-align: center;">{{ transaction.signature }}</td>
        <td style=" text-align: center;">{{ transaction.date }}</td>
        <td style=" text-align: center;">{{ transaction.block }}</td>
        <td style=" text-align: center;">{{ transaction.age }}</td>
      </tr>

      <tr *ngIf="transaction.expand && transaction.details">
        <td colspan="4">
          <nz-table [nzData]="[transaction.details]" nzSize="middle" [nzShowPagination]="false">
            <thead>
              <tr>
                <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.TRANSACTION_CONTENT' | translate }}</th>
                <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.SENDER' | translate }}</th>
                <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.RECIPIENT' | translate }}</th>
                <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.TRANSACTION_AMOUNT' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style=" text-align: center;">  
                  <li *ngFor="let memo of transaction.details.memo">
                    {{ memo.memo }}
                  </li>
                </td>
                <td style=" text-align: center;">{{ transaction.details.sender }}</td>
                <td style=" text-align: center;">{{ transaction.details.recipient }}</td>
                <td style=" text-align: center;">{{ transaction.details.transactionAmount }} VND</td>
              </tr>
            </tbody>
          </nz-table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>