<nz-table [nzData]="transactions" [nzPageSize]="10">
  <thead>
    <tr>
      <th></th>
      <th nzWidth="20%">{{ 'TRANSACTION_HISTORY.SIGNATURE' | translate }}</th>
      <th nzWidth="20%">{{ 'TRANSACTION_HISTORY.TRANSACTION_DATE' | translate }}</th>
      <th nzWidth="20%">{{ 'TRANSACTION_HISTORY.BLOCK' | translate }}</th>
      <th nzWidth="20%">{{ 'TRANSACTION_HISTORY.AGE' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let transaction of transactions">
      <tr>
        <td [(nzExpand)]="transaction.expand" (click)="viewTransactionDetails(transaction)"></td>
        <td>{{ transaction.signature }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.block }}</td>
        <td>{{ transaction.age }}</td>
      </tr>

      <tr *ngIf="transaction.expand && transaction.details">
        <td colspan="4">
          <nz-table [nzData]="[transaction.details]" nzSize="middle" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>{{ 'TRANSACTION_HISTORY.TRANSACTION_CONTENT' | translate }}</th>
                <th>{{ 'TRANSACTION_HISTORY.SENDER' | translate }}</th>
                <th>{{ 'TRANSACTION_HISTORY.RECIPIENT' | translate }}</th>
                <th>{{ 'TRANSACTION_HISTORY.TRANSACTION_AMOUNT' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <li *ngFor="let memo of transaction.details.memo">
                    {{ memo.memo }}
                  </li>
                </td>
                <td>{{ transaction.details.sender }}</td>
                <td>{{ transaction.details.recipient }}</td>
                <td>{{ transaction.details.transactionAmount }} VND</td>
              </tr>
            </tbody>
          </nz-table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>