<nz-table #nestedTable [nzData]="listOfData" [nzPageSize]="10" ngSkipHydration>
  <thead>
    <tr>
      <th style="width: 30%; text-align: center;">Address Token</th>
      <th style="width: 30%; text-align: center;">{{ 'TOKEN_TABLE.TOKEN_TYPE' | translate }}</th>
      <th style="width: 15%; text-align: center;">{{ 'TOKEN_TABLE.QUANTITY' | translate }}</th>
      <th style="width: 20%; text-align: center;">{{ 'TOKEN_TABLE.ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOfData">
      <td style="width: 30%; text-align: center;">{{ item.tokenAddress }}</td>
      <td style="width: 30%; text-align: center;">{{ item.mint }}</td>
      <td style="width: 15%; text-align: center;">{{ item.amount / 1000000000 }}</td>
      <td style="width: 20%; text-align: center;">
        <button nz-button (click)="onGetTransactionHistory(item.tokenAddress)">
          {{ 'TOKEN_TABLE.VIEW_HISTORY' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<div *ngIf="transactions.length > 0">
  <nz-table [nzData]="transactions" [nzPageSize]="10">
    <thead>
      <tr>
        <th>{{ 'TRANSACTION_HISTORY.SIGNATURE' | translate }}</th>
        <th>{{ 'TRANSACTION_HISTORY.TRANSACTION_DATE' | translate }}</th>
        <th>{{ 'TRANSACTION_HISTORY.BLOCK' | translate }}</th>
        <th>{{ 'TRANSACTION_HISTORY.AGE' | translate }}</th>
        <th>{{ 'TRANSACTION_HISTORY.ACTION' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let transaction of transactions">
        <tr>
          <td>{{ transaction.signature }}</td>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.block }}</td>
          <td>{{ transaction.age }}</td>
          <td>
            <button nz-button (click)="toggleTransactionDetails(transaction)">
              {{ transaction.expand ? ('TRANSACTION_HISTORY.HIDE_DETAILS' | translate) : ('TRANSACTION_HISTORY.SHOW_DETAILS' | translate) }}
            </button>
          </td>
        </tr>
        <tr *ngIf="transaction.expand && transaction.details">
          <td colspan="5">
            <nz-table [nzData]="[transaction.details]" nzSize="middle" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th style="width: 10%; text-align: center;">Loại giao dịch</th>
                  <th style="width: 15%; text-align: center;">Thời gian xử lý</th>
                  <th style="width: 10%; text-align: center;">Thứ tự xử lý</th>
                  <th style="width: 30%; text-align: center;">Trước giao dịch</th>
                  <th style="width: 30%; text-align: center;">Sau giao dịch</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ transaction.filteredLogMessages }}</td>
                  <td>{{ transaction.details?.blockTime * 1000 | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                  <td>{{ transaction.details?.slot }}</td>
                  <td>
                    <ul class="transaction-list">
                      <li *ngFor="let tokenBalance of transaction.details?.meta?.preTokenBalances">
                        <p><strong>{{ 'TRANSACTION_HISTORY.OWNER' | translate }}:</strong> {{ tokenBalance.owner }}</p>
                        <p><strong>{{ 'TRANSACTION_HISTORY.AMOUNT' | translate }}:</strong> {{ tokenBalance.uiTokenAmount?.amount | number }}</p>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="transaction-list">
                      <li *ngFor="let tokenBalance of transaction.details?.meta?.postTokenBalances">
                        <p><strong>{{ 'TRANSACTION_HISTORY.OWNER' | translate }}:</strong> {{ tokenBalance.owner }}</p>
                        <p><strong>{{ 'TRANSACTION_HISTORY.AMOUNT' | translate }}:</strong> {{ tokenBalance.uiTokenAmount?.amount | number }}</p>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
<!-- <div *ngIf="transactions.length === 0 && error === ''">
  <p>{{ 'TRANSACTION_HISTORY.NO_TRANSACTIONS' | translate }}</p>
</div> -->