<nz-table #basicTable [nzData]="listOfData" [nzBordered]="true"
  [nzPageSize]="pageSize" [nzShowPagination]="true" [nzTotal]="listOfData.length" [nzPageIndex]="pageIndex" (nzPageIndexChange)="onPageChange($event)" ngSkipHydration>
  <thead>
    <tr>
      <th style="width: 30%; text-align: center;">{{ 'TOKEN_TABLE.ADDRESSTOKEN' | translate }}</th>
      <th style="width: 30%; text-align: center;">{{ 'TOKEN_TABLE.TOKEN_TYPE' | translate }}</th>
      <th style="width: 15%; text-align: center;">{{ 'TOKEN_TABLE.QUANTITY' | translate }}</th>
      <th style="width: 20%; text-align: center;">{{ 'TOKEN_TABLE.ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOfData.slice((pageIndex - 1) * pageSize, pageIndex * pageSize)">
      <td style="width: 30%; text-align: center;">{{ item.tokenAddress }}</td>
      <td style="width: 30%; text-align: center;">{{ item.mint }}</td>
      <td style="width: 15%; text-align: center;">{{ item.amount / 1000000000 }}</td>
      <td style="width: 20%; text-align: center;">
        <button nz-button (click)="onGetTransactionHistory(item.tokenAddress)">
          {{ 'TOKEN_TABLE.VIEW_HISTORY' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<div *ngIf="transactions.length > 0">
  <nz-table [nzData]="transactions" [nzPageSize]="10">
    <thead>
      <tr>
        <th></th>
        <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.SIGNATURE' | translate }}</th>
        <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.TRANSACTION_DATE' | translate }}</th>
        <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.BLOCK' | translate }}</th>
        <th style=" text-align: center;">{{ 'TRANSACTION_HISTORY.AGE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let transaction of transactions">
        <tr>
          <td  [nzExpand]="transaction.expand" (click)="toggleTransactionDetails(transaction)"></td>
          <td style=" text-align: center;">{{ transaction.signature }}</td>
          <td style=" text-align: center;">{{ transaction.date }}</td>
          <td style=" text-align: center;">{{ transaction.block }}</td>
          <td style=" text-align: center;">{{ transaction.age }}</td>
        </tr>
        <tr *ngIf="transaction.expand && transaction.details">
          <td colspan="5">
            <nz-table [nzData]="[transaction.details]" nzSize="middle" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th style="width: 10%; text-align: center;">{{ 'TRANSACTION_HISTORY.TYPE' | translate }}</th>
                  <th style="width: 15%; text-align: center;">{{ 'TRANSACTION_HISTORY.PROCESSINGTIME' | translate }}</th>
                  <th style="width: 10%; text-align: center;">{{ 'TRANSACTION_HISTORY.PROCESSINGORDER' | translate }}</th>
                  <th style="width: 30%; text-align: center;">{{ 'TRANSACTION_HISTORY.BFTRANSACTION' | translate }}</th>
                  <th style="width: 30%; text-align: center;">{{ 'TRANSACTION_HISTORY.ATTRANSACTION' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 10%; text-align: center;">{{ transaction.filteredLogMessages }}</td>
                  <td style="width: 15%; text-align: center;">{{ transaction.details?.blockTime * 1000 | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                  <td style="width: 10%; text-align: center;">{{ transaction.details?.slot }}</td>
                  <td style="width: 30%; text-align: center;">
                    <ul class="transaction-list">
                      <li *ngFor="let tokenBalance of transaction.details?.meta?.preTokenBalances">
                        <p><strong>{{ 'TRANSACTION_HISTORY.OWNER' | translate }}:</strong> {{ tokenBalance.owner }}</p>
                        <p><strong>{{ 'TOKEN_TABLE.QUANTITY' | translate }}:</strong> {{ tokenBalance.uiTokenAmount?.amount | number }}</p>
                      </li>
                    </ul>
                  </td>
                  <td style="width: 30%; text-align: center;"> 
                    <ul class="transaction-list">
                      <li *ngFor="let tokenBalance of transaction.details?.meta?.postTokenBalances">
                        <p><strong>{{ 'TRANSACTION_HISTORY.OWNER' | translate }}:</strong> {{ tokenBalance.owner }}</p>
                        <p><strong>{{ 'TRANSACTION_HISTORY.AMOUNT' | translate }}:</strong> {{ tokenBalance.uiTokenAmount?.amount | number }}</p>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
