<div class="container">
  <div class="form-container">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <nz-form [formGroup]="projectForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.image' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-upload nzListType="picture-card" [nzMultiple]="true" [nzShowUploadList]="true"
              [nzFileList]="selectedFiles" (nzChange)="handleChange($event)" [nzDisabled]="isViewMode">
              <span *ngIf="!isViewMode" class="upload-icon" nz-icon nzType="plus"></span>
              <div *ngIf="!isViewMode" class="ant-upload-text">{{ 'projectForm.upload' | translate }}</div>
            </nz-upload>

          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.projectCode' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="projectCode" placeholder="{{ 'projectForm.entercode' | translate }}" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.projectName' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="projectName" placeholder="{{ 'projectForm.entername' | translate }}" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.projectDescription' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <textarea nz-input formControlName="projectDescription" placeholder="{{ 'projectForm.enterd' | translate }}"
              [disabled]="isViewMode"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.field' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <textarea nz-input formControlName="field" placeholder="{{ 'projectForm.enterf' | translate }}" [disabled]="isViewMode"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="isViewMode">  
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.projectStatus' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="projectStatus" placeholder="Chọn" [disabled]="isViewMode">
              <nz-option nzValue="Đang hoạt động" nzLabel="Active"></nz-option>
              <nz-option nzValue="Không hoạt động" nzLabel="Inactive"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true" nzFor="projectStartDate">{{ 'projectForm.projectStartDate' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="projectStartDate" type="date" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true" nzFor="projectEndDate">{{ 'projectForm.projectEndDate' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="projectEndDate" type="date" [disabled]="isViewMode" />
            <div *ngIf="projectForm.hasError('dateRangeInvalid')">
              <p class="error">{{ 'projectForm.dateRangeInvalid' | translate }}</p>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.commune' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="commune" placeholder="{{ 'projectForm.enterCommune' | translate }}" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.district' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="district" placeholder="{{ 'projectForm.enterDistrict' | translate }}" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.conscious' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="conscious" placeholder="{{ 'projectForm.enterConscious' | translate }}" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.city' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="city" placeholder="{{ 'projectForm.enterCity' | translate }}" [disabled]="isViewMode" />
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.aim' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <textarea nz-input formControlName="aim" placeholder="{{ 'projectForm.enterAim' | translate }}" [disabled]="isViewMode"></textarea>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.type' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="type" placeholder="Select type" [disabled]="isViewMode">
              <nz-option *ngFor="let category of categoriesType" [nzValue]="category.id"
                [nzLabel]="category.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">{{ 'projectForm.standard' | translate }}</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="standard" placeholder="Select standard" [disabled]="isViewMode">
              <nz-option *ngFor="let category of categoriesStandard" [nzValue]="category.id"
                [nzLabel]="category.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!isViewMode">
          <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <button nz-button nzType="primary" type="submit">
              {{ isUpdateMode ? ( 'projectForm.updateProject' | translate ) : ( 'projectForm.addProject' | translate ) }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </nz-form>
    </form>
  </div>
  <div class="map-container">
    <app-map [initialCoordinates]="initialCoordinates" (coordinatesChanged)="onCoordinatesChanged($event)">
    </app-map>
  </div>
</div>