<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input type="text" nz-input placeholder="{{ 'USER.SEARCH_PLACEHOLDER' | translate }}" [(ngModel)]="searchQuery" />
</nz-input-group>
<button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="createUser()">
  <span>{{ 'USER.+ADD' | translate }}</span>
</button>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="onSearch(searchQuery)">{{ 'USER.SEARCH' | translate }}</button>
</ng-template>
<div *ngIf="showAddForm" class="add-user-form">
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="{{ 'USER.USERNAME' | translate }}" [(ngModel)]="newUser.username" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="{{ 'USER.FIRST_NAME' | translate }}" [(ngModel)]="newUser.firstname" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="{{ 'USER.LAST_NAME' | translate }}" [(ngModel)]="newUser.lastname" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="password" nz-input placeholder="{{ 'USER.PASSWORD' | translate }}" [(ngModel)]="newUser.password" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="password" nz-input placeholder="{{ 'USER.CONFIRM_PASSWORD' | translate }}" [(ngModel)]="newUser.confirmPassword" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="{{ 'USER.ROLE' | translate }}" [(ngModel)]="newUser.role" readonly />
  </nz-input-group>
  <button nz-button nzType="default" (click)="cancelAddUser()">{{ 'USER.CANCEL' | translate }}</button>
  <button nz-button nzType="primary" (click)="saveUser()">{{ 'USER.SAVE' | translate }}</button>
</div>

<nz-tabset [(nzSelectedIndex)]="selectedIndex">
  <nz-tab nzTitle="{{ 'USER.ACTIVE' | translate }}">
    <nz-table #basicTable1 [nzData]="listOfData1" [nzPageSize]="5" ngSkipHydration>
      <thead>
        <tr>
          <th nzCellControl="username">{{ 'USER.USERNAME' | translate }}</th>
          <th nzCellControl="firstname">{{ 'USER.FIRST_NAME' | translate }}</th>
          <th nzCellControl="lastname">{{ 'USER.LAST_NAME' | translate }}</th>
          <th nzCellControl="roles">{{ 'USER.ROLE' | translate }}</th>
          <th nzCellControl="action">{{ 'USER.ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable1.data">
          <td nzCellControl="username">{{ data.username }}</td>
          <td nzCellControl="firstname">{{ data.firstname }}</td>
          <td nzCellControl="lastname">{{ data.lastname }}</td>
          <td nzCellControl="roles">{{ data.roles }}</td>
          <td nzCellControl="action">
            <span nz-icon nzType="form" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="edit" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="delete" nzTheme="outline" class="table-icon" (click)="deleteUser(data.userId)"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab [nzTitle]="pendingTabTemplate">
    <ng-template #pendingTabTemplate>
      {{ 'USER.PENDING_APPROVAL' | translate }}
      <nz-badge [nzCount]="listOfData2.length"></nz-badge>
    </ng-template>
    <nz-table #basicTable2 [nzData]="listOfData2" [nzPageSize]="5" ngSkipHydration>
      <thead>
        <tr>
          <th nzCellControl="username">{{ 'USER.USERNAME' | translate }}</th>
          <th nzCellControl="firstname">{{ 'USER.FIRST_NAME' | translate }}</th>
          <th nzCellControl="lastname">{{ 'USER.LAST_NAME' | translate }}</th>
          <th nzCellControl="roles">{{ 'USER.ROLE' | translate }}</th>
          <th nzCellControl="status">{{ 'USER.STATUS' | translate }}</th>
          <th nzCellControl="action">{{ 'USER.ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable2.data">
          <td nzCellControl="username">{{ data.username }}</td>
          <td nzCellControl="firstname">{{ data.firstname }}</td>
          <td nzCellControl="lastname">{{ data.lastname }}</td>
          <td nzCellControl="roles">{{ data.roles }}</td>
          <td nzCellControl="status">
            <nz-switch [ngModel]="data.status" (ngModelChange)="updateUserStatus(data.userId, $event)">
            </nz-switch>
          </td>
          <td nzCellControl="action">
            <span nz-icon nzType="form" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="edit" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="delete" nzTheme="outline" class="table-icon" (click)="deleteUser(data.userId)"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>