<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input type="text" nz-input placeholder="Nhập văn bản tìm Kiếm" [(ngModel)]="searchQuery" />
</nz-input-group>
<button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="createUser()">
  <span>+ Thêm</span>
</button>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="onSearch(searchQuery)">Tìm Kiếm</button>
</ng-template>
<div *ngIf="showAddForm" class="add-user-form">
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="Tên người dùng" [(ngModel)]="newUser.username" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="Tên" [(ngModel)]="newUser.firstname" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="Họ" [(ngModel)]="newUser.lastname" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="password" nz-input placeholder="Mật khẩu" [(ngModel)]="newUser.password" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="password" nz-input placeholder="Xác nhận mật khẩu" [(ngModel)]="newUser.confirmPassword" />
  </nz-input-group>
  <nz-input-group nzSize="large">
    <input type="text" nz-input placeholder="Vai trò" [(ngModel)]="newUser.role" readonly />
  </nz-input-group>
  <button nz-button nzType="default" (click)="cancelAddUser()">Hủy</button>
  <button nz-button nzType="primary" (click)="saveUser()">Lưu</button>
</div>

<nz-tabset [(nzSelectedIndex)]="selectedIndex">
  <nz-tab nzTitle="Đang hoạt động">
    <nz-table #basicTable1 [nzData]="listOfData1" [nzPageSize]="5" ngSkipHydration>
      <thead>
        <tr>
          <th nzCellControl="username">Tên người dùng</th>
          <th nzCellControl="firstname">Tên</th>
          <th nzCellControl="lastname">Họ</th>
          <th nzCellControl="roles">Vai trò</th>
          <th nzCellControl="action">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable1.data">
          <td nzCellControl="username">{{ data.username }}</td>
          <td nzCellControl="firstname">{{ data.firstname }}</td>
          <td nzCellControl="lastname">{{ data.lastname }}</td>
          <td nzCellControl="roles">{{ data.roles }}</td>
          <td nzCellControl="action">
            <span nz-icon nzType="form" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="edit" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="delete" nzTheme="outline" class="table-icon" (click)="deleteUser(data.userId)"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab [nzTitle]="pendingTabTemplate">
    <ng-template #pendingTabTemplate>
      Chờ phê duyệt
      <nz-badge [nzCount]="listOfData2.length"></nz-badge>
    </ng-template>
    <nz-table #basicTable2 [nzData]="listOfData2" [nzPageSize]="5" ngSkipHydration>
      <thead>
        <tr>
          <th nzCellControl="username">Tên người dùng</th>
          <th nzCellControl="firstname">Tên</th>
          <th nzCellControl="lastname">Họ</th>
          <th nzCellControl="roles">Vai trò</th>
          <th nzCellControl="status">Trạng thái</th>
          <th nzCellControl="action">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable2.data">
          <td nzCellControl="username">{{ data.username }}</td>
          <td nzCellControl="firstname">{{ data.firstname }}</td>
          <td nzCellControl="lastname">{{ data.lastname }}</td>
          <td nzCellControl="roles">{{ data.roles }}</td>
          <td nzCellControl="status">
            <nz-switch [ngModel]="data.status" (ngModelChange)="updateUserStatus(data.userId, $event)">
            </nz-switch>
          </td>
          <td nzCellControl="action">
            <span nz-icon nzType="form" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="edit" nzTheme="outline" class="table-icon"></span>
            <nz-divider nzType="vertical" class="nz-divider"></nz-divider>
            <span nz-icon nzType="delete" nzTheme="outline" class="table-icon" (click)="deleteUser(data.userId)"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>