<form [formGroup]="measurementForm" (ngSubmit)="onSubmit()" class="measurement-form">
  <div class="measurement-list">
    <div formArrayName="measurements">
      <div *ngFor="let measurement of measurements.controls; let i = index" [formGroupName]="i" class="measurement-item">
        <nz-form-item>
          <nz-form-label [nzFor]="'wasteSource-' + i">{{ 'wasteSource' | translate }}:</nz-form-label>
          <nz-form-control>
            <nz-select style="min-width: 400px;" formControlName="wasteSource" id="wasteSource-{{i}}" [nzPlaceHolder]="'selectWasteSource' | translate">
              <nz-option *ngFor="let category of categoriesPC" [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzFor]="'gas-' + i">{{ 'gas' | translate }}:</nz-form-label>
          <nz-form-control>
            <nz-select style="min-width: 100px;" formControlName="gas" id="gas-{{i}}" [nzPlaceHolder]="'selectGas' | translate">
              <nz-option *ngFor="let category of categories" [nzLabel]="category.name" [nzValue]="category.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzFor]="'data-' + i">{{ 'data' | translate }}:</nz-form-label>
          <nz-form-control>
            <input style="min-width: 50px;" nz-input formControlName="data" id="data-{{i}}" type="number"/>
          </nz-form-control>
        </nz-form-item>
        

        <button style="margin-top: 0px;"  nz-button type="button" (click)="removeMeasurement(i)" class="remove-button">{{ 'remove' | translate }}</button>
      </div>
    </div>
  </div>
  
  <div class="measurement-add">
    <nz-form-item class="form-group">
      <nz-form-label [nzFor]="'measurer'">{{ 'measurer' | translate }}:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="measurer" id="measurer" type="text"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-group">
      <nz-form-label [nzFor]="'measurementDate'">{{ 'measurementDate' | translate }}:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="measurementDate" id="measurementDate" type="date"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-group">
      <nz-form-label [nzFor]="'farmingProcess'">{{ 'farmingProcess' | translate }}:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="farmingProcess" id="farmingProcess" type="text"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-group">
      <nz-form-label [nzFor]="'phonelandowner'">{{ 'phonelandowner' | translate }}:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="phonelandowner" id="phonelandowner" type="text"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-group">
      <nz-form-label [nzFor]="'namelandowner'">{{ 'namelandowner' | translate }}:</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="namelandowner" id="namelandowner" type="text"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-group">
      <nz-form-label [nzFor]="'projectId'">{{ 'projectId' | translate }}:</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="projectId" id="projectId" [nzPlaceHolder]="'selectProjectId' | translate">
          <nz-option *ngFor="let project of projects" [nzLabel]="project.projectName" [nzValue]="project.projectId"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  
  <div class="form-actions">
    <button nz-button nzType="default" type="button" (click)="addMeasurement()" class="add-button">{{ 'addMeasurement' | translate }}</button>
    <button nz-button nzType="primary" type="submit" class="submit-button">{{ 'submit' | translate }}</button>
  </div>
</form>
